body {
    font-family: 'Roboto';
}

a{
color: #FEB238;
text-decoration: none;
}

h4{
color: #8E8E8E;
}

div.gallery {

    float: right !important;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.homebtn {
    text-align: right;
}

.youtube {
    text-align: right;
}

div.instruction{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.pad-top-20{
    padding-top: 20px;
}
div.pad-top-40{
    padding-top: 40px;
}
div.pad-right-20{
    padding-right: 20px;
}
div.pad-left-100{
    padding-left: 100px;
}
div.pad-left-115{
    padding-left: 115px;
}
div.pad-left-30{
    padding-left: 30px;
}
div.pad-left-50{
    padding-left: 55px;
}
div.pad-right-100{
    padding-right: 100px;
}
div.pad-right-120{
    padding-right: 120px;
}
div.pad-left-20{
    padding-left: 20px;
}
div.pad-bottom-20{
    padding-bottom: 20px;
}

.font-roboto{
    font-face: