body {
    font-family: 'Roboto';
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.homebtn {
    text-align: right;
}

.youtube {
    text-align: right;
}

div.instruction{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.pad-top-20{
    padding-top: 20px;
}
div.pad-right-20{
    padding-right: 20px;
}
div.pad-left-100{
    padding-left: 100px;
}
div.pad-left-20{
    padding-left: 20px;
}
div.pad-bottom-20{
    padding-bottom: 20px;
}

.font-roboto{
    font-face: