{% extends 'base.html' %}
{% block content %}
    
    <div class="row pad-left-115 pad-top-40"> <!-- instructions/video row -->
    <div id="instructions" class="col-xs-6">
  
        <h4>VICTIMS OF HUMAN TRAFFICKING ARE INVISIBLE</h4>
  
      <p>Anyone can be a victim of sex trafficking, and to bring awareness to these 
        victims and survivors, this project asks you to look around at your 
        environment and see the faces that are hidden there. Upload the photos you 
        take, upvote your favorites in the gallery, and donate to Safehouse to help 
        victims of sex trafficking.<br></p>
      <h4>HOW TO PLAY</h4>
      <p>1. Take a photo of a hidden face.</p>
      <p>2. <a href="/">Upload</a> photo to site</p>
      <p>3. Share on social media</p>
      <p>4. <a href="/">Donate</a> today</li>
      <p>5. Vote</p>
    </div> <!-- /div instructions -->
    
    <div class="col-xs-6 pad-top-20 pad-bottom-20"> <!-- video div -->
      <iframe class="youtube" width="350" height="200" src="https://www.youtube.com/embed/Ti8SuftcXlk" frameborder="0" allowfullscreen></iframe>
    </div> <!-- /div video -->

  </div> <!-- /div instructions/video row -->
  
  <div class="row pad-top-20 pad-right-20 pull-right"> <!-- photo grid row-->
    <div class="pad-right-20  pad-left-115 col-xs-12">
      <h4>SUBMISSIONS</h4>

<div class="pad-right-20 col-xs-12">
  <p class="nav navbar-nav"><font size="4pt">Organize by &nbsp;</font>
  <input type="radio" name="organize" value="recent" checked> most recent &nbsp;
  <input type="radio" name="organize" value="liked"> most liked</p>
</div>

{% for i in range(1, 24) %}
<div class="gallery">
  <a target="_blank" href="/static/f{{i}}.jpg">
    <img src="/static/f{{i}}.jpg" alt="Face" width="250">
  </a>
</div>
{% endfor %}

</div>
</div>
</div>

{% endblock %}